
body {
    background-color: #ECF9FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-color: #FFFBEB;
    border-width: 6px;

}

h1, h3 {
    color: #7FE9DE;
}